.editionMode{

    .top-banner-edition-mode{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3.6875rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        gap: 0.71rem;
    }

    header{
        margin-top: 5.5rem;
    }

    #portfolio{
        position: relative;

    
    }
    .work-modif-div{
        display: flex;
        position: absolute;
        top: 0.6rem;
        right: 33%;
        gap: 0.15rem;
        cursor: pointer;
        p{
            user-select: none;
        }
        &:hover{
            
            p{
                text-decoration: underline;
            }
        }
    }

    .modal-background{
        background-color: rgba($color: #000000, $alpha: 0.8);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .galleryModal{
        position: relative;
        background-color: #fff;
        width: 39.375rem;
        height: 43rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.625rem; 
        img{
            width: 100%;
            height: 100%;
        }
        h2{
            margin-top: 3.75rem;
            margin-bottom: 3.44rem;
            color: #000;
            font-family: "Work Sans";
            font-size: 1.625rem;
            font-weight: 400;
        }
        .fa-xmark{
            position: absolute;
            right: 1.87rem;
            top: 1.63rem;
            font-size: 1.5rem;
        }

        .separator{
            width: 26.25rem;
            height: 0.0625rem;
            background-color: #000; 
            margin-top: 4.21rem;
            margin-bottom: 2.37rem;
        }
    }

    #addWorkBtn{
        border: none;
        &:hover{
            opacity: 0.8;
        }
    }

    .modal-card-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.4rem;
        padding: 0 6.58rem;
        margin: 0;
    }

    .modalCard{
        width: 4.88269rem;
        height: 6.505rem;
        flex-shrink: 0; 
        position: relative;
        .fa-trash-can{
            position: absolute;
            right: 0.4rem;
            top: 0.38rem;
            width: 1.0625rem;
            line-height: 1.0625rem; 
            text-align: center;
            font-size: 0.6rem;
            color: white;
            background-color: #000000;
            border-radius: 0.2rem;
            transition: color 0.3s, background-color 0.3s;
            &:hover{

                color: black;
                background-color: white;

            }
        }
    }
}



